[Unit]
Description=My Web App Socket

[Socket]
ListenStream=/run/mywebapp.sock
SocketUser=app
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target