[Unit]
Description=Notes Service
Requires=mywebapp.socket
After=network.target mariadb.service

[Service]
User=app
Group=app
WorkingDirectory=/opt/mywebapp
ExecStartPre=/opt/mywebapp/venv/bin/python3 /opt/mywebapp/migrate.py --db-user mywebapp --db-password K6DG5zCJ0NszUTNpmutoIg== --db-name notes
ExecStart=/opt/mywebapp/venv/bin/python3 -m uvicorn app:app --uds /run/mywebapp.sock
Restart=always

[Install]
WantedBy=multi-user.target